/*****************************************************************
	➤ ᴛɪᴛʟᴇ: ᴅᴇsɪɢɴ #3

	➤ sᴛᴇᴀᴍɪᴅ: STEAM_0:0:81603889
	➤ sᴛᴇᴀᴍɪᴅ𝟹: [U:1:163207778]
	➤ sᴛᴇᴀᴍɪᴅ𝟼𝟺: 76561198123473506
	➤ ʙᴀᴛᴛʟᴇʏᴇ ɢᴜɪᴅ: 8cb7b142527426144008be726d287e92

	➤ ɢɪᴛʟᴀʙ: gitlab.com/Saskatchewan
	➤ ɢɪᴛʜᴜʙ: github.com/GamingOnline

	➤ ᴅᴇᴠᴇʟᴏᴘᴇʀs: ɢᴀᴍɪɴɢ
*****************************************************************/

/*
	⏤⏤⏤ ɪᴍᴘᴏʀᴛs ⏤⏤⏤
*/

@import url(https://fonts.googleapis.com/css?family=Quicksand);


/*
	⏤⏤⏤ ʙᴀsᴇ ⏤⏤⏤
*/
body {
    background: black;
}

:root {
    --color1: 255, 255, 255;
    --color2: 255, 255, 255;
    --color3: 0, 0, 0;

    --mediaboxheight: 220px;
}

/*
	⏤⏤⏤ ᴀɴɪᴍᴀᴛɪᴏɴs ⏤⏤⏤
*/

/*
	⏤⏤⏤ ᴄss ʀᴇғᴇʀᴇɴᴄᴇs ⏤⏤⏤
*/

.window {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*border: 1px solid white;*/
    margin: auto;
    position: absolute;
    width: 99%;
    height: auto;

    margin: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logo {
    position: fixed;

    left: 0;
    right: 0;
    top: 150px;
    margin: auto;

    width: 300px;
    height: 300px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto;

    border-radius: 50%;
    filter: opacity(0.5);
    padding: 5px;

    border: 6px solid rgba(var(--color1), 0.5);
}

.media {
    left: 15px;
    bottom: 10px;
    /*border: 1px solid white;*/
    margin: auto;
    position: absolute;
    width: 400px;
    height: var(--mediaboxheight);

    margin: auto;
}

.mediabox {
    position: relative;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    display: block;
    margin: 15px;

    width: auto;
    height: auto;

    border-radius: 10px;
}

.mediatext {

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    font-family: Quicksand;
    font-size: 35px;
    font-weight: 500;
    text-align: left;
    text-shadow: 1px;
    text-align-last: left;
    color: rgba(var(--color1), 0.5);
    text-decoration: none;
}

.fab {
    padding: 5px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-weight: 500;
    font-size: 35px;
    color: rgba(var(--color1), 0.5);
}
