/*****************************************************************
	➤ ᴛɪᴛʟᴇ: ʟᴀɴᴅɪɴɢ ᴘᴀɢᴇ

	➤ sᴛᴇᴀᴍɪᴅ: STEAM_0:0:81603889
	➤ sᴛᴇᴀᴍɪᴅ𝟹: [U:1:163207778]
	➤ sᴛᴇᴀᴍɪᴅ𝟼𝟺: 76561198123473506
	➤ ʙᴀᴛᴛʟᴇʏᴇ ɢᴜɪᴅ: 8cb7b142527426144008be726d287e92

	➤ ɢɪᴛʟᴀʙ: gitlab.com/Saskatchewan
	➤ ɢɪᴛʜᴜʙ: github.com/GamingOnline

	➤ ᴅᴇᴠᴇʟᴏᴘᴇʀs: ɢᴀᴍɪɴɢ
*****************************************************************/

/*
	⏤⏤⏤ ɪᴍᴘᴏʀᴛs ⏤⏤⏤
*/

@import url(https://fonts.googleapis.com/css?family=Quicksand);


/*
	⏤⏤⏤ ʙᴀsᴇ ⏤⏤⏤
*/

body {
	background: black;
}

:root {
	--color3: 255,255,255;
	--color4: 255,255,255;
	--color5: 0,0,0;

	--base-color1: 96,115,182;

	--buttonB-color1: 0,0,0;
	--buttonB-color2: 255,255,255;
	--buttonB-color3: 52,50,57;
	--buttonB-color4: 203,76,58;
	--buttonB-color5: 96,115,182;
	--buttonB-color6: 119,73,75;

	--bordercolor1: 212,48,48;
	--bordercolor2: 216,122,0;
	--bordercolor3: 228,201,0;
	--bordercolor4: 55,188,55;
	--bordercolor5: 67,67,198;
	--bordercolor6: 155,28,245;
	--bordercolor7: 185,2,185;
}

/*
	⏤⏤⏤ ᴀɴɪᴍᴀᴛɪᴏɴs ⏤⏤⏤
*/


/*
	⏤⏤⏤ ᴄss ʀᴇғᴇʀᴇɴᴄᴇs ⏤⏤⏤
*/

.border {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	/*border: 1px solid white;*/
	height: auto;
	width: 99%;
}

.title_main {
	padding: 0.5%;
	font-family: Quicksand;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	text-shadow: 1px;
	text-align-last: center;
	margin: auto;
	color: rgba(var(--color3),0.5);
   display: block;
   margin-left: auto;
   margin-right: auto;
	margin: auto;
	text-decoration: none;

	width: 500px;
	height: auto;

	user-select: none;

	/*border: 1px solid rgba(var(--color4),0.5);
	background: rgba(var(--color5),0.5);*/

}

.window {
	padding: 0.5%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	margin: auto;

	/*border: 1px solid white;*/
	margin: 10px;
	height: 320px;
	width: 280px;

	border: 1px solid rgba(var(--color4),0.5);
	background: rgba(var(--color5),0.5);

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: center;

  	user-select: none;
}

.picture {
	padding: 1.5px;

	height: 130px;
	width: 130px;
	left: 0;
	right: 0;
   display: block;
   margin-left: auto;
   margin-right: auto;
	margin: auto;

	border-radius: 50%;
	filter: opacity(0.5);
	border: 4px solid rgba(var(--color3),1);
}

.titlewindow {

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	margin: auto;

	/*border: 1px solid white;*/
	margin: auto;
	height: auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: center;
}

.bordersep {
	/*border: 1px solid white;*/
	left: 0;
	right: 0;
	margin: auto;
	width: 99%;
	height: 1px;
	background-color: rgba(var(--color3),0.5);
}

.title {
	font-family: Quicksand;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	text-shadow: 1px;
	margin: auto;
	left: 0;
	right: 0;
	color: rgba(var(--color3),1);

	height: auto;
	width: 100%;

	filter: opacity(0.5);
}

.icons {
	padding: 0;
	/*border: 1px solid white;*/
	left: 0;
	right: 0;
	margin: auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  	justify-content: center;

	height: 70px;
	width: 100%;

	filter: opacity(0.5);
}

.fa-file {
	padding: 5px;
	font-weight: 500;
	font-size: 40px;
	color: rgba(var(--color3),0.5);
	transition: color 0.5s;
}

.fa-file:hover {
	color: rgba(var(--base-color1),1);
}

.fa-file-code {
	padding: 5px;
	font-weight: 500;
	font-size: 40px;
	color: rgba(var(--color3),0.5);
	transition: color 0.5s;
}

.fa-file-code:hover {
	color: rgba(var(--base-color1),1);
}

.fa-file-alt {
	padding: 5px;
	font-weight: 500;
	font-size: 40px;
	color: rgba(var(--color3),0.5);
	transition: color 0.5s;
}

.fa-file-alt:hover {
	color: rgba(var(--base-color1),1);
}

.fa-fist-raised {
	padding: 5px;
	font-weight: 500;
	font-size: 40px;
	color: rgba(var(--color3),0.5);
	transition: color 0.5s;
}

.fa-fist-raised:hover {
	color: rgba(var(--base-color1),1);
}

.text_bottom {
	position: absolute;
	display: block;
	/*border: 1px solid white;*/

	font-family: Quicksand;
	font-size: 20px;
	font-weight: 500;
	text-shadow: 1px;
	text-align: center;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 5px;
	color: rgba(var(--color3),1);
   display: block;
	text-decoration: none;

	filter: opacity(0.5);

	user-select: none;
}

.footer {
	position: absolute;
	/*border: 1px solid white;*/
	left: 0;
	right: 0;
	margin: auto;
	width: auto;
	height: 90px;
	border-top: 1px solid rgba(var(--color4),1);
	background: rgba(var(--color5),1);

	filter: opacity(0.5);
}

.footer_sep {
	/*border: 1px solid white;*/
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 300px;
	height: 1px;
}

.footer_ico {
	height: 20px;
	width: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: space-evenly;

  	/*border: 1px solid white;*/
}

.fa-envelope-square {
	padding-top: 15px;
	font-weight: 500;
	font-size: 45px;
	color: rgba(var(--color3),0.5);
	transition: color 0.5s;
}

.fa-envelope-square:hover {
	color: rgba(var(--base-color1),1);
}

.fa-steam-square {
	padding-top: 15px;
	font-weight: 500;
	font-size: 45px;
	color: rgba(var(--color3),0.5);
	transition: color 0.5s;
}

.fa-steam-square:hover {
	color: rgba(var(--base-color1),1);
}

.fa-twitter-square {
	padding-top: 15px;
	font-weight: 500;
	font-size: 45px;
	color: rgba(var(--color3),0.5);
	transition: color 0.5s;
}

.fa-twitter-square:hover {
	color: rgba(var(--base-color1),1);
}

.fa-snapchat-square {
	padding-top: 15px;
	font-weight: 500;
	font-size: 45px;
	color: rgba(var(--color3),0.5);
	transition: color 0.5s;
}

.fa-snapchat-square:hover {
	color: rgba(var(--base-color1),1);
}

.fa-instagram-square {
	padding-top: 15px;
	font-weight: 500;
	font-size: 45px;
	color: rgba(var(--color3),0.5);
	transition: color 0.5s;
}

.fa-instagram-square:hover {
	color: rgba(var(--base-color1),1);
}

.fa-github-square {
	padding-top: 15px;
	font-weight: 500;
	font-size: 45px;
	color: rgba(var(--color3),0.5);
	transition: color 0.5s, text-shadow 0.5s;
}

.fa-github-square:hover {
	color: rgba(var(--base-color1),1);
	text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

/*
	⏤⏤⏤ ʙᴀᴄᴋ ʙᴜᴛᴛᴏɴ ⏤⏤⏤
*/

.buttonB_Base {
	position: fixed;
	height: 30px;
	width: auto;

	margin: auto;

	/*border: 1px solid white;*/

	left: 7px;
	bottom: 7px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: center;

  	filter: opacity(0.5);
}

.buttonB_Base .buttonB_back {
	height: 25px;
	width: 70px;

	background: rgba(var(--buttonB-color1),1);
	border: 1px solid rgba(var(--buttonB-color2),1);

	transition: border-radius 0.5s, border 0.5s;
}

.buttonB_Base .buttonB_back:hover {
	border: 1px solid rgba(var(--buttonB-color5),1);
}

.buttonB_Base .buttonB_back .buttonB_text {
	font-family: Quicksand;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	text-shadow: 1px;
	text-transform: lowercase;
	text-align-last: center;
	margin: auto;
	left: 0;
	right: 0;
	color: rgba(var(--buttonB-color2),1);
   display: block;
   margin-left: auto;
   margin-right: auto;
	margin: auto;
	text-decoration: none;
	user-select: none;
}

.buttonB_Base .buttonB_b {
	height: 25px;
	width: 25px;

	background: rgba(var(--buttonB-color1),1);
	border: 1px solid rgba(var(--buttonB-color2),1);

	transition: border-radius 0.5s, border 0.5s;
}

.buttonB_Base .buttonB_b:hover {
	border: 1px solid rgba(var(--buttonB-color5),1);
}

.fa-volume-mute {
	padding-top: 2.5px;
	padding-left: 3.5px;
   font-weight: 50;
   font-size: 18px;
   color: rgba(var(--buttonB-color2),1);
   display: block;
   margin-left: auto;
   margin-right: auto;
	margin: auto;
	text-decoration: none;
	margin: auto;
	left: 0;
	right: 0;
	text-align: center;
	text-shadow: 1px;
	text-transform: lowercase;
	text-align-last: center;
	user-select: none;	
}

.fa-video-slash {
	padding-top: 4.5px;
	padding-left: 2.5px;
   font-weight: 50;
   font-size: 16px;
   color: rgba(var(--buttonB-color2),1);
   display: block;
   margin-left: auto;
   margin-right: auto;
	margin: auto;
	text-decoration: none;
	margin: auto;
	left: 0;
	right: 0;
	text-align: center;
	text-shadow: 1px;
	text-transform: lowercase;
	text-align-last: center;
	user-select: none;
}

.fa-video {
	padding-top: 4.5px;
	padding-left: 3px;
   font-weight: 50;
   font-size: 16px;
   color: rgba(var(--buttonB-color2),1);
   display: block;
   margin-left: auto;
   margin-right: auto;
	margin: auto;
	text-decoration: none;
	margin: auto;
	left: 0;
	right: 0;
	text-align: center;
	text-shadow: 1px;
	text-transform: lowercase;
	text-align-last: center;
	user-select: none;
}

.slidecontainer {
  width: 150px;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 27px;
	outline: none;
	-webkit-transition: .2s;

	background: rgba(var(--buttonB-color1),1);
	border: 1px solid rgba(var(--buttonB-color2),1);
	transition: border-radius 0.5s, border 0.5s;
}

.slider:hover {
	border: 1px solid rgba(var(--buttonB-color5),1);
}

.slider::-webkit-slider-thumb {

  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 25px;
  cursor: pointer;

  background: rgba(var(--buttonB-color2),1);

  border-radius: 0;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 25px;
  border: 0;
  background: rgba(var(--buttonB-color2),1);
  cursor: pointer;

  border-radius: 0;
}

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
  background: transparent !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent !important;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(var(--buttonB-color2),1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--buttonB-color5),1);
}