/*****************************************************************
	➤ ᴛɪᴛʟᴇ: ᴅᴇsɪɢɴ #𝟹

	➤ sᴛᴇᴀᴍɪᴅ: STEAM_0:0:81603889
	➤ sᴛᴇᴀᴍɪᴅ𝟹: [U:1:163207778]
	➤ sᴛᴇᴀᴍɪᴅ𝟼𝟺: 76561198123473506
	➤ ʙᴀᴛᴛʟᴇʏᴇ ɢᴜɪᴅ: 8cb7b142527426144008be726d287e92

	➤ ɢɪᴛʟᴀʙ: gitlab.com/Saskatchewan
	➤ ɢɪᴛʜᴜʙ: github.com/GamingOnline

	➤ ᴅᴇᴠᴇʟᴏᴘᴇʀs: ɢᴀᴍɪɴɢ
*****************************************************************/

/*
	⏤⏤⏤ ɪᴍᴘᴏʀᴛs ⏤⏤⏤
*/

@import url(https://fonts.googleapis.com/css?family=Raleway);


/*
	⏤⏤⏤ ʙᴀsᴇ ⏤⏤⏤
*/

body {
	background: black;
}

:root {
	--color3: 255,255,255;
	--color4: 255,255,255;
	--color5: 10,10,10;

	--base-color1: 96,115,182;

	--bordercolor1: 212,48,48;
	--bordercolor2: 216,122,0;
	--bordercolor3: 228,201,0;
	--bordercolor4: 55,188,55;
	--bordercolor5: 67,67,198;
	--bordercolor6: 155,28,245;
	--bordercolor7: 185,2,185;

	--buttonB-color1: 0,0,0;
	--buttonB-color2: 255,255,255;
	--buttonB-color3: 52,50,57;
	--buttonB-color4: 203,76,58;
	--buttonB-color5: 96,115,182;
	--buttonB-color6: 119,73,75;

	--fade-sleep: 2200ms; /* MS */
}

/*
	⏤⏤⏤ ᴀɴɪᴍᴀᴛɪᴏɴs ⏤⏤⏤
*/

@keyframes fade {
  12.5%, 100% {
    filter: opacity(0);
  }
  25% {
    filter: opacity(1);
  }
}


/*
	⏤⏤⏤ ᴄss ʀᴇғᴇʀᴇɴᴄᴇs ⏤⏤⏤
*/

.border {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	/*border: 1px solid white;*/
	margin: auto;
	position: absolute;
	width: 99%;
	height: auto;

	display: block;
	align-items: center;
  	justify-content: center;

  	user-select: none;

  	filter: opacity(0.5);
}

.border .infobox {
	padding: 15px;
	display: block;
	position: absolute;

	height: 500px;
	width: 350px;

	margin: auto;

	border: 1px solid white;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	border-radius: 0;

	background: rgba(var(--color5),1);
	border: 1px solid rgba(var(--color3),1);

	animation: fade var(--fade-sleep) linear infinite alternate;

}

.border .infobox .boxtop {
	position: absolute;

	border-top: 1px solid rgba(var(--color3),1);
	border-bottom: 1px solid rgba(var(--color3),1);

	width: 100%;
	height: 260px;

	margin: auto;

	left: 0;
	right: 0;
	bottom: 48px;

	display: block;

	background: rgba(var(--buttonB-color1),1);

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: center;

}

.infobox .ftext {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	text-shadow: 1px;
	text-align-last: center;
	text-transform: uppercase;
	margin: auto;
	left: 0;
	right: 0;
	color: rgba(var(--color3),1);
   display: block;
   margin-left: auto;
   margin-right: auto;
	margin: auto;
	text-decoration: none;
	transition: top 0.5s, font-size 0.5s;
}

.ftext:hover {
	font-size: 20px;
	font-weight: 500;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  	position: relative;
  	top: -2px;
}

.infobox .logo {
	position: absolute;

	height: 130px;
	width: 130px;
	left: 0;
	right: 0;
	top: 5px;
   display: block;
   margin-left: auto;
   margin-right: auto;
	margin: auto;

	border-radius: 50%;
	border-bottom: 5px solid rgba(var(--color3),1);

	transform: scale(1.4,1.4);

	filter: grayscale(100%);
}

.infobox .name {
	position: absolute;
	padding: 5px;
	font-family: Raleway;
	font-size: 25px;
	font-weight: 500;
	text-align: center;
	text-shadow: 1px;
	text-align-last: center;
	text-transform: uppercase;
	margin: auto;
	top: 170px;
	left: 0;
	right: 0;
	color: rgba(var(--color3),1);
   display: block;
   margin-left: auto;
   margin-right: auto;
	margin: auto;
	text-decoration: none;
}

.iconlist {
	position: absolute;
	display: block;
	margin: auto;

	width: auto;
	height: 40px;

	/*border: 1px solid white;*/

	left: 0;
	right: 0;
	bottom: 5px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: center;
}

#ico {
	padding-left: 2px;
	padding-right: 2px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
   font-weight: 50;
   font-size: 35px;
   color: rgba(var(--color3),1);
	transition: font-size 0.2s;
}

#ico:hover {
   font-size: 38px;
}

.infobox .moneybag1 {
	position: absolute;
	padding: 1.5px;

	height: 50px;
	width: 50px;
	left: 5px;
	bottom: 5px;
   display: block;
	margin: auto;

	border-radius: 0;

	filter: grayscale(100%);
}

.infobox .moneybag2 {
	position: absolute;
	padding: 1.5px;

	height: 50px;
	width: 50px;
	right: 5px;
	bottom: 5px;
   display: block;
	margin: auto;

	border-radius: 0;

	filter: grayscale(100%);
}

/*
	⏤⏤⏤ ʙᴀᴄᴋ ʙᴜᴛᴛᴏɴ ⏤⏤⏤
*/

.buttonB_Base {
	position: fixed;
	height: 30px;
	width: auto;

	margin: auto;

	/*border: 1px solid white;*/

	left: 7px;
	bottom: 7px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: center;

  	filter: opacity(0.5);
}

.buttonB_Base .buttonB_back {
	height: 25px;
	width: 70px;

	background: rgba(var(--buttonB-color1),1);
	border: 1px solid rgba(var(--buttonB-color2),1);

	transition: border-radius 0.5s, border 0.5s;
}

.buttonB_Base .buttonB_back:hover {
	border: 1px solid rgba(var(--buttonB-color5),1);
}

.buttonB_Base .buttonB_back .buttonB_text {
	font-family: Raleway;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	text-shadow: 1px;
	text-transform: lowercase;
	text-align-last: center;
	margin: auto;
	left: 0;
	right: 0;
	color: rgba(var(--buttonB-color2),1);
   display: block;
   margin-left: auto;
   margin-right: auto;
	margin: auto;
	text-decoration: none;
	user-select: none;
}

.buttonB_Base .buttonB_b {
	height: 25px;
	width: 25px;

	background: rgba(var(--buttonB-color1),1);
	border: 1px solid rgba(var(--buttonB-color2),1);

	transition: border-radius 0.5s, border 0.5s;
}

.buttonB_Base .buttonB_b:hover {
	border: 1px solid rgba(var(--buttonB-color5),1);
}

.fa-volume-mute {
	padding-top: 2.5px;
	padding-left: 3.5px;
   font-weight: 50;
   font-size: 18px;
   color: rgba(var(--buttonB-color2),1);
   display: block;
   margin-left: auto;
   margin-right: auto;
	margin: auto;
	text-decoration: none;
	margin: auto;
	left: 0;
	right: 0;
	text-align: center;
	text-shadow: 1px;
	text-transform: lowercase;
	text-align-last: center;
	user-select: none;	
}

.fa-video-slash {
	padding-top: 4.5px;
	padding-left: 2.5px;
   font-weight: 50;
   font-size: 16px;
   color: rgba(var(--buttonB-color2),1);
   display: block;
   margin-left: auto;
   margin-right: auto;
	margin: auto;
	text-decoration: none;
	margin: auto;
	left: 0;
	right: 0;
	text-align: center;
	text-shadow: 1px;
	text-transform: lowercase;
	text-align-last: center;
	user-select: none;
}

.fa-video {
	padding-top: 4.5px;
	padding-left: 3px;
   font-weight: 50;
   font-size: 16px;
   color: rgba(var(--buttonB-color2),1);
   display: block;
   margin-left: auto;
   margin-right: auto;
	margin: auto;
	text-decoration: none;
	margin: auto;
	left: 0;
	right: 0;
	text-align: center;
	text-shadow: 1px;
	text-transform: lowercase;
	text-align-last: center;
	user-select: none;
}

.slidecontainer {
  width: 150px;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 27px;
	outline: none;
	-webkit-transition: .2s;

	background: rgba(var(--buttonB-color1),1);
	border: 1px solid rgba(var(--buttonB-color2),1);
	transition: border-radius 0.5s, border 0.5s;
}

.slider:hover {
	border: 1px solid rgba(var(--buttonB-color5),1);
}

.slider::-webkit-slider-thumb {

  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 25px;
  cursor: pointer;

  background: rgba(var(--buttonB-color2),1);

  border-radius: 0;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 25px;
  border: 0;
  background: rgba(var(--buttonB-color2),1);
  cursor: pointer;

  border-radius: 0;
}